/**
 * Variables
 */

:root {
  /* default depth to place interface */
  --hud-depth: 2500;

  /* hud */
  --hud-width: 58cm;
  /* default content dimensions */
  --content-width: 32cm;
  --content-height: 26cm;

  /* default depth to mono iframe content */
  --content-depth-hud-close: 100;
  --content-depth-hud-open: -100;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

body {
  background-image:
  radial-gradient(
    #0B6790,
    #14364A
  );
}

button {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #303030;
  border: 1px solid white;
  padding: 5px;
  width: 90px;
}

button:hover {
  color: #303030;
  background-color: white;
}

.hud {
  width: var(--hud-width);
  --z: var(--hud-depth);
  --data-url: url('misc/directory.json');
  height: 100px;
}

.webview {
  --z: var(--hud-depth);
  height: var(--content-height);
  width: var(--content-width);
}

.vr-button {
  top: 20px;
  left: 30px;
}

.source-button {
  top: 20px;
  left: 140px;
}

.hud-element {
  background-color: white;
  border: 5px solid black;
  font-size: 16pt;
  padding: 20px;
}

.hud-button {
  width: 150px;
  height: 150px;
}

.hud-button h1 {
  color: black;
  margin: 0;
  padding: 0;
}

.hud-button h2 {
  color: gray;
  margin: 0;
  padding: 0;
}

.hud-url {
  width: 820px;
  height: 40px;
  padding: 15px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
}

.selected {
  border: 5px solid yellow;
}

.hover {
  border: 5px solid magenta;
}

.hover-parent {
  border: 5px dotted #45BC9F;
}

.label {
  position: absolute;
  width: 90px;
  height: 30px;
  background-color: black;
  border: 4px solid #2C2C2C;
  top: 0;
  left: 0;
  line-height: 30px;
  color: white;
  text-align: center;
  display: none;
}

.source {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #272822;
  opacity: 0.9;
}

.source-controls {
  width: 100%;
  height: 50px;
}

.CodeMirror {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  padding: 10px;
}

.line-highlight {
  background: #14364A;
}
