html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-image:
  radial-gradient(
      #0B6790,
      #14364A
    );
}

/*body:after {
 -moz-box-shadow: inset 0 0 10em #666;
 -webkit-box-shadow: inset 0 0 10em #666;
 box-shadow: inset 0 0 10em #666;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}*/

@keyframes bobble {
    0% {
        --x: 0;
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        --x: 100;
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        --x: 0;
        transform: translate3d(0px, 0px, 0px);
    }
}

.peak-label {
  color: white;
  width: 200px;
  height: 25px;
  font-size: 20pt;
  padding: 15px;
  text-align: center;
  background-color: #0480D1;
}

.hud-button {
  color: white;
  width: 120px;
  height: 120px;
  background-color: #0480D1;
  font-size: 6pt;
  padding: 15px;
}

.pivot {
  animation: bobble 2s infinite;
}

.hud-button:hover,  .peak-label:hover {
  background-color: yellow;
  color: #0480D1;
}

.hud-cube {
  width: 120px;
  height: 120px;
  background-color: transparent;
}

.hud-button span {
  position: absolute;
  width: 50px;
  height: 10px;
  top: calc(50% - 10px);
  left: calc(50% - 25px);
  font-size: 12pt;
}

.hud-button.selected {
  border: 4px solid white;
}
